{% extends "hp/base.html" %}
{% block content %}
    {% for Req in Reqs %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ Req.NGOName }}</a>
                    <small class="text-muted">{{ Req.date_posted }}</small>
                </div>
                <h2><a class="article-title" href="#">{{ Req.Loc }}</a></h2>
                <p class="article-content">{{ Req.Requirement }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}